<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\A403326\AppData\Local\Programs\Python\Python311\python.exe %s%s" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
    </system.web>
</configuration>